
<div class="getdrivers" class="container-fluid">
<div id="getdriversform">
<form id="displayform" method="post" action="/getdrivers">

  <input value= "{{randomResult.Driver.familyName}}" hidden name="driver1Id" />
  <h2>Select your first driver:</h2>
  <select name="driver2Id" class="form-select" multiple aria-label="multiple select example">
    {{#each filteredDrivers}}
      <option value="{{this.Driver.familyName}}">{{this.Driver.givenName}} {{this.Driver.familyName}} </option>
    {{/each}}
  </select>
  <br>
  <h2>Select your second driver:</h2>
  <select name="driver3Id" class="form-select" multiple aria-label="multiple select example">
    {{#each filteredDrivers}}
      <option value="{{this.Driver.familyName}}">{{this.Driver.givenName}} {{this.Driver.familyName}} </option>
    {{/each}}
  </select>
  <br>
  
<div class= "randomdriver">
  <h2>And your random driver is:</h2>
<h4>{{randomResult.Driver.givenName}}
  {{randomResult.Driver.familyName}}
  </h4>
  </div>
  <button id="button1" class="btn btn-primary" type="submit">Get your team</button>
</form>

  </div>
  <img class="img-fluid" id="background" src="images/background.jpg">
  </div>