
<h2>Welcome, {{currentUser.username}}!</h2>



 <div>Your Team:
    <p>{{currentUser.driver1Id}}</p>
    <p>{{currentUser.driver2Id}}</p>
    <p>{{currentUser.driver3Id}}</p>
    <p>Total Score: {{totalScore}}</p>
</div>  

<a href="/scoreboard">Go To Scoreboard</a>



