
<h2>Welcome, {{currentUser.username}}!</h2>

<div class="drivers">
<div class="card" style="width: 18rem;">
  <img src="/images/{{currentUser.driver1Id}}.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{currentUser.driver1Id}}</h5>
    
    <a href="http://ergast.com/api/f1/drivers/{{currentUser.driver1Id}}" class="btn btn-primary">Driver Info</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="/images/{{currentUser.driver2Id}}.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{currentUser.driver2Id}}</h5>
    
    <a href="http://ergast.com/api/f1/drivers/{{currentUser.driver2Id}}" class="btn btn-primary">Driver Info</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="/images/{{currentUser.driver3Id}}.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{currentUser.driver3Id}}</h5>
    
    <a href="http://ergast.com/api/f1/drivers/{{currentUser.driver3Id}}" class="btn btn-primary">Driver Info</a>
  </div>
</div>
</div>

 
    <p>Team Score: {{totalScore}}</p>
 

<a href="/scoreboard">Go To Scoreboard</a>



